{
  "CheckerFunction": {
    "RAPIDAPI_KEY": "your-tank01-rapidapi-key",
    "POLLER_STATE_MACHINE_ARN": "arn:aws:states:us-east-1:000000000000:stateMachine:fantasee-poller"
  },
  "PollerFunction": {
    "RAPIDAPI_KEY": "your-tank01-rapidapi-key",
    "LIVE_GAME_STATE_TABLE": "fantasee-live-game-state"
  }
}
